body {
  /* background-color: #00303d; */
  background-image: linear-gradient(45deg, #00303d, #004c3c);
  background-size: contain;
  color: #fff;
  height: 100%;
  padding-bottom: 1000px;
}

.title {
  text-align: center;
  width: 100%;
  padding: 10px;
  color: #00303d;
  font-size: 50px;
  background: rgba(255, 255, 255, 0.22);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  /* border: 1px solid rgba(255, 255, 255, 1); */
  margin: 15px 0;
  text-shadow: 1px 1px 10px #fff;
}

.li-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
}
.li-container input[type="checkbox"] {
  accent-color: #00b4d8;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.li-container li {
  list-style: none;
}
.todos-container {
  margin: 30px 0;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 1);
  color: black;
  border-radius: 16px;
  padding: 20px;
}
.todos-container h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.li-container.completed {
  background-color: #00b38c !important;
}
.li-container.neutral {
  background-color: bisque;
}
#priority {
  background-color: bisque;
}
#priority.high {
  background-color: red;
}

#priority.medium {
  background-color: yellow;
}

#priority.low {
  background-color: rgba(0, 174, 255, 0.764);
}

form {
  width: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
form input,
form select {
  height: 40px;
  width: 180px;
  text-align: center;
}
form label {
  position: absolute;
  top: -25px;
}
.optional {
  font-size: 10px;
}

#submit-btn {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: solid white;
  background-color: transparent;
  color: white;
  transition: all 0.5s ease-in-out;
}

#submit-btn:hover {
  border-color: #00b38c;
  background-color: white;
  color: #004c3c;
}
